In [1]:
import pandas as pd

In [2]:
# Load of all .csv
df_ubereats_centro = pd.read_csv(r'csv/ubereats-pizza-centro.csv')
df_ubereats_alamos = pd.read_csv(r'csv/ubereats-pizza-alamos.csv')
df_ubereats_juriquilla = pd.read_csv(r'csv/ubereats-pizza-juriquilla.csv')
df_ubereats_milenio = pd.read_csv(r'csv/ubereats-pizza-milenio.csv')
df_ubereats_refugio = pd.read_csv(r'csv/ubereats-pizza-refugio.csv')

df_ubereats_balvanera = pd.read_csv(r'csv/ubereats-pizza-balvanera.csv')
df_ubereats_campanario = pd.read_csv(r'csv/ubereats-pizza-campanario.csv')
df_ubereats_cerritocolorado = pd.read_csv(r'csv/ubereats-pizza-cerritocolorado.csv')
df_ubereats_cimatario = pd.read_csv(r'csv/ubereats-pizza-cimatario.csv')
df_ubereats_el_pueblito = pd.read_csv(r'csv/ubereats-pizza-el-pueblito.csv')

df_rappi_centro = pd.read_csv(r'csv/rappi-pizza-centro.csv')
df_rappi_alamos = pd.read_csv(r'csv/rappi-pizza-alamos.csv')
df_rappi_juriquilla = pd.read_csv(r'csv/rappi-pizza-juriquilla.csv')
df_rappi_milenio = pd.read_csv(r'csv/rappi-pizza-milenio.csv')
df_rappi_refugio = pd.read_csv(r'csv/rappi-pizza-refugio.csv')

df_rappi_balvanera = pd.read_csv(r'csv/rappi-pizza-balvanera.csv')
df_rappi_campanario = pd.read_csv(r'csv/rappi-pizza-campanario.csv')
df_rappi_cerritocolorado = pd.read_csv(r'csv/rappi-pizza-cerritocolorado.csv')
df_rappi_cimatario = pd.read_csv(r'csv/rappi-pizza-cimatario.csv')
df_rappi_el_pueblito = pd.read_csv(r'csv/rappi-pizza-el-pueblito.csv')

frames = [
    df_ubereats_centro, 
    df_ubereats_alamos, 
    df_ubereats_juriquilla, 
    df_ubereats_milenio, 
    df_ubereats_refugio, 
    df_ubereats_balvanera, 
    df_ubereats_campanario, 
    df_ubereats_cerritocolorado, 
    df_ubereats_cimatario, 
    df_ubereats_el_pueblito, 
    df_rappi_centro, 
    df_rappi_alamos, 
    df_rappi_juriquilla, 
    df_rappi_milenio, 
    df_rappi_refugio, 
    df_rappi_balvanera, 
    df_rappi_campanario, 
    df_rappi_cerritocolorado, 
    df_rappi_cimatario, 
    df_rappi_el_pueblito]

# We concat all frames and ignore the current index to generate a new one
df = pd.concat(frames, ignore_index=True)

In [3]:
print('Size of the df: {} items'.format(df.count()['name']))

Size of the df: 38876 items

In [4]:
# Note that the price-food has MX$
df.loc[:,['name','rating','evals','name-food','price-food']]

,name,rating,evals,name-food,price-food
0,Di Vino,4.5,(64),Lasagna a la boloñesa,$201.50
1,Diktatur (Guerrero),4.9,(10),Molletes de jamón,$60.00
2,The Zone Bread and Coffee,4.8,(26),Frappé,$50.00
3,Papa John's Pizza Jardines,4.7,(161),Hawaiiana,$249.00
4,Micaela Cocina & Café,4.8,(79),De panela,$175.00
...,...,...,...,...,...
38907,Trapani Pizza,4.8,NaN,Sangria Señorial 355 ml,25
38908,Il Pizzaiolo Qro,4.2,NaN,Pasta Amatriciana,119
38909,Pizza Riko,NaN,NaN,Dedos de Queso,97
38910,Estacion 19,NaN,NaN,Cappuccino,52
38911,Nápoles Artesanal Pizzería,NaN,NaN,Pizza Capresse,245

In [5]:
# Remove MX$ from price-food
df['price-food'] = df['price-food'].apply(lambda x: (float(x[3:] if x[0] == 'M' else x[1:]) if not isinstance(x, int) else float(x)) if not isinstance(x, float) else x)

# for index, row in df.iterrows():
#     print(float(row['price-food'][3:]) if not isinstance(row['price-food'], float) else row['price-food'])

In [6]:
df.loc[:,['name','name-food','price-food']]

                             name                name-food  price-food
0                         Di Vino    Lasagna a la boloñesa       201.5
1             Diktatur (Guerrero)        Molletes de jamón        60.0
2       The Zone Bread and Coffee                   Frappé        50.0
3      Papa John's Pizza Jardines                Hawaiiana       249.0
4           Micaela Cocina & Café                De panela       175.0
...                           ...                      ...         ...
38907               Trapani Pizza  Sangria Señorial 355 ml        25.0
38908            Il Pizzaiolo Qro        Pasta Amatriciana       119.0
38909                  Pizza Riko           Dedos de Queso        97.0
38910                 Estacion 19               Cappuccino        52.0
38911  Nápoles Artesanal Pizzería           Pizza Capresse       245.0

[38912 rows x 3 columns]

In [7]:
# Get all "pizza" dataframes
dfPizzas = df[df['name-food'].str.contains("pizza", na=False, case=False)]
dfPizzas.reset_index(drop=True, inplace=True)
dfPizzas.loc[:,['name','name-food','price-food']]

,name,name-food,price-food
0,Güero's Pizza,Pizza Especial Americana - Mediana,303.0
1,Di Vino,Pizza Hawaiana,199.0
2,Che-Chelas,Pizza blanca,160.0
3,Cheeseup pizza,PIZZA EN PAREJA,189.0
4,Lynchburg,Pizza Hawaiana,179.0
...,...,...,...
7790,Estacion 19,Pizza Pompere,114.0
7791,Trapani Pizza,Combo 2 Pizzas Grandes,268.0
7792,Piu Pizza,Pizza Salami,120.0
7793,Mi Piace Pizza Qro,Pizza Hawaiana,125.0
7794,Nápoles Artesanal Pizzería,Pizza Capresse,245.0

In [8]:
minPizza = dfPizzas.loc[dfPizzas['price-food'] == dfPizzas['price-food'].min()]

print('The pizzas with the lower price are:')
minPizza.loc[:,['name','name-food','price-food']]

The pizzas with the lower price are:

                     name                 name-food  price-food
163   Lecaroz (QUERETARO)  Base de pizza individual        15.0
1680  Lecaroz (QUERETARO)  Base de pizza individual        15.0
3933    Lecaroz (Mompani)  Base de pizza individual        15.0
4839  Lecaroz (QUERETARO)  Base de pizza individual        15.0

In [9]:
maxPizza = dfPizzas.loc[dfPizzas['price-food'] == dfPizzas['price-food'].max()]

print('The pizzas with the greatest price are:')
maxPizza.loc[:,['name','name-food','price-food']]

The pizzas with the greatest price are:

                           name  name-food  price-food
2171  Wohoo! Desayunos Sorpresa  Pizza box       860.0

In [10]:
meanPizzaVal = dfPizzas['price-food'].mean()
meanPizza = dfPizzas.loc[dfPizzas['price-food'] == meanPizzaVal]

print(f'The mean price is ${meanPizzaVal}:')
meanPizza.loc[:,['name','name-food','price-food']]

The mean price is $175.79896454265162:

Empty DataFrame
Columns: [name, name-food, price-food]
Index: []

In [11]:
medianPizza = dfPizzas.loc[dfPizzas['price-food'] == dfPizzas['price-food'].median()]

print('The pizzas with the median price are:')
medianPizza.loc[:,['name','name-food','price-food']]

The pizzas with the median price are:

                                name                  name-food  price-food
22             Ipanema Pizza Buffete     Pizza de Cajeta Helado       175.0
61                  Pizza TEC Biagio        Pizza Mexico Grande       175.0
63    Los Dogos (Puerta La Victoria)               Pizza Burger       175.0
77         TOSCANO PIZZA & ESPRESSOS               Pizza máxima       175.0
85             Ipanema Pizza Buffete            Pizza Calabresa       175.0
...                              ...                        ...         ...
7330                Piacere Italiano          Pizza Capricciosa       175.0
7340               La Piccola Italia  Pizza Calzone Champiñones       175.0
7362                       Piu Pizza   Pizza con Frutos del Mar       175.0
7388               La Piccola Italia    Pizza La Piccola Italia       175.0
7625                Piacere Italiano          Pizza Capricciosa       175.0

[226 rows x 3 columns]

In [12]:
modePizza = dfPizzas.loc[dfPizzas['price-food'] == dfPizzas['price-food'].mode()[0]]

print('The pizzas with the mode price are:')
modePizza.loc[:,['name','name-food','price-food']]

The pizzas with the mode price are:

,name,name-food,price-food
3,Cheeseup pizza,PIZZA EN PAREJA,189.0
14,MAMBA Pizza Co. (Pie de la Cuesta),Pizza Azteca grande,189.0
31,Güero's Pizza,Pizza Italiana Chica,189.0
34,MAMBA Pizza Co. (Pie de la Cuesta),Pizza hawaiana grande,189.0
51,Sinatra 351,Pizza Meat Lover,189.0
...,...,...,...
7682,Pizza & More,Pizza Antojo,189.0
7732,Il Pizzaiolo Qro,II Pizzaiolo,189.0
7752,Pizza Rotonda,Pizza Di Mare,189.0
7773,Pizza & More,Arma tu Pizza 4 Ingredientes,189.0
7786,Pizza Rotonda,Pizza Mexicana,189.0